<article class="post-entry">
    <header class="entry-header">
      <h2 class="entry-title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h2>
    </header>
  
    {{ with .Params.images }}
    <div class="entry-image">
      <a href="{{ .RelPermalink }}">
        <img src="{{ index . 0 | relURL }}" alt="{{ .Title }}" loading="lazy">
      </a>
    </div>
    {{ end }}
  
    {{ with .Summary }}
    <div class="entry-content">
      <p>{{ . | plainify }}</p>
    </div>
    {{ end }}
  
    <footer class="entry-footer">
      <span class="entry-date">
        {{ .Date.Format "2 Jan 2006" }}
      </span>
      {{ with .Params.tags }}
        <span class="entry-tags">
          {{ range . }}
            <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">#{{ . }}</a>
          {{ end }}
        </span>
      {{ end }}
    </footer>
  </article>
  