{{/* recent-sidebar.html: show 3 most recent pages */}}

{{ $recent := first 3 (sort .Site.RegularPages "Date" "desc") }}

<div class="sidebar-recent-inner">
  <h3 class="sidebar-title">recent posts</h3>

  {{ range $recent }}
    <article class="sidebar-post">
      <a class="sidebar-post-title" href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
      <div class="sidebar-post-meta">
        <span class="sidebar-post-date">
          {{ .Date.Format "2006-01-02" }}
        </span>
        {{ with .ReadingTime }}
          <span class="sidebar-post-separator">·</span>
          <!--<span class="sidebar-post-readtime">
            {{ . }} min read-->
          </span>
        {{ end }}
        <!-- Category bubble (PaperMod style) -->
        {{ with .Params.categories }}
            <div class="sidebar-post-category">
            <span class="category-pill">{{ index . 0 }}</span>
            </div>
        {{ end }}


      </div>
    </article>
  {{ end }}
</div>
